/* custom.css */
html {
  height: 100%;
}

a {
    color: #F90;
}

h1 {
    font-family: 'Avenir Black';
    font-size: 4.0em;
    margin-bottom: 0.25em;
}

h1 a {
    font-family: 'Avenir Black', Georgia, 'Open Sans', sans-serif;
    color: #333;
    line-height: 100%;
}

#header {
    margin-top: 4em;
    margin-bottom: 2em;
}

h2 {
    font-family: 'Helvetica Neue', serif;
}

h2 a { font-family:'Helvetica Neue', Georgia; color: #000000; font-size: 2em; line-height: 1.05em;}

h2.post-title { font-family:Georgia, serif; color: #000000; font-size: 3.15em; line-height: 1.05em;}

div.container { color: #FFFFFF; }

body {
    font-family: Palatino, Georgia, 'Crimson Text', Garamond, 'EB Garamond';
    font-size: 20px;
    line-height: 150%;
}

code {
    color: black;
}

/* When highlighted code blocks are too wide, they wrap. Resulting in the */
/* line numbers column's rows not lining up with the code rows. Prevent */
/* wrapping. */
pre {
    white-space: pre;
    width: inherit;
}

ul.navbar li { display: inline; list-style-type: none; margin-right:0.25em; }

p.date-and-tags { font-size: 0.75em; font-family: 'Helvetica Neue'; color: gray}

.centered {
    margin-left: 27.659574468085104%;
    margin-right: 27.659574468085104%;
}

html {
    height: 100%;
}

.footer {
  position: absolute;
  clear:both;
  padding-top:20px;
  margin-left:25.641025641025642%;
  width:48.717948717948715%;
}

li {
  line-height: 150%;
}

.index-post {
  margin-bottom: 3em;
}

table.tags-table {
  font-size: 14px;
  width: 460px;
}
