/* custom.css */

div.gallery {
    width: 100%;
}

div.gallery a img {
  height: auto;
}

ul.navbar {
  font-size: 1em;
  padding-left: 0;
  margin-left: 0;
  font-family: sans-serif;
}

ul.navbar li {
  display: inline;
  list-style-type: none;
}

ul.pagination li {
  display: inline-block;
}
